* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica';
}

.wrapper {
    border: 1px solid #010124;
    width: 800px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('images/background.png');
    background-repeat: round;
    overflow: hidden;
}

.header {
    font-size: 100px;
    color: violet;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 650px;
    height: 100px;
    text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 6px 1px 0 #000;
}

.score {
    font-size: 150px;
    color: #010124;
    position: absolute;
    top: 52%;
    left: 49%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 100px;
    text-align: center;
}

.countdown {
    position: absolute;
    top: 490px;
    width: 100%;
    font-size: 20px;
    text-align: center;
    color: #010124;
    font-weight: 600;
}

.startButton {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    background: #010124;
    color: white;
    padding: 20px 50px;
    border-radius: 5px;
    z-index: 200;
    cursor: pointer;
    border: none;
    outline: none;
}

.game {
    /* border: 2px solid black; */
    width: 600px;
    height: 400px;
    margin: 70px auto;
    z-index: 200;
    display: flex;
    flex-wrap: wrap;
}

.hole {
    /* border: 3px solid red; */
    flex: 1 0 33.33%;
    position: relative;
    /* adding relative here to make :after image relative to their own parent instead of nearest parent */
    overflow: hidden;
}

.hole:after {
    content: '';
    display: block;
    background-image: url('images/obstacle.png');
    background-repeat: no-repeat;
    /* background: black; */
    position: absolute;
    width: 100%;
    height: 80px;
    z-index: 2;
    bottom: -30px;
    background-size: contain;
}

.mole {
    background-image: url('images/player1.png');
    position: absolute;
    top: 100%;
    width: 80%;
    height: 100%;
    transition: 0.4s;
    background-repeat: no-repeat;
    background-position: bottom;
}

.mole.small {
    background-size: 60%;
}

.mole.large {
    background-size: 80%;
}

.hole.up .mole {
    top: 0;
}